<h4>Drinking? Why don't you</h4><h3>PARTY SMART</h3>
<div class="row">
	
	<!-- <h4>What Would You Like to Do?</h4> -->
	<ul>
		<div class="col-md-3">
			<li><button class="btn-home btn btn-pink" ui-sref="bac">Get Blood Alcohol Level</button></li>
		</div>
		<div class="col-md-3">	
		<li><button class="btn-home btn btn-green" ui-sref="tracking">Keep Track of My Night</button></li>
		</div>
		<div class="col-md-3">
		<li><button class="btn-home btn btn-teal" ui-sref="timer">I Can Haz More??</button></li>
		</div>
			<div class="col-md-3">
		<img src="app/css/images/drunkdial.jpg">
	</div>
	</ul>
	

</div>