<div ng-show="Auth.isLoggedIn()" class="row">
  <div class="col col-sm-6">
    <h3>So Can I Haz More?</h3>
    <div>
      <p>Your Total Drinks So Far:  <strong class="showDrinks">{{ totalDrinks }} drinks</strong></p>
      <p>over the past <strong class="showDrinks">{{ hoursPassed }} hours</strong></p>
    </div>
    <p>Your current BAC:<strong class="showDrinks">{{ bacTracking }}</strong></p>
    <p>Time Till You Can Drive:<strong class="showDrinks"> {{ hoursToWait }}</strong></p>

  </div>

  <div class="col-sm-6">
      <img class="img-responsive beergif" src="app/css/images/beer.gif">
  </div>
</div>  
<div ng-hide="Auth.isLoggedIn()" class="text-center">
  <h4>Oops! You need to be logged in to use this feature.</h4>
  
  <button class="btn btn-green btn-home" ui-sref="login"><h4>PLEASE LOGIN</h4></button>
</div>