<!-- <div>
	<button ng-click="onTimer()" >Start</button>
    {{counter}}
  <button ng-click="stop()">Stop</button>    
</div> -->

<h3>So Can I Haz More?</h3>
<p>Your Total Drinks So Far:</p>
<p>Your current BAC:</p>
<p>Time You Need To Drive:</p>
<button class="btn btn-teal">
  Submit
  </button>
<!-- <div>
  <div ng-bind = "Message">
  </div>
  <br />
  {{ Timer }}
 
  <input type="button" class="btn btn-green" value="Start Timer" ng-click="startTimer()" />
  <input type="button" class="btn btn-pink" value="Stop Timer" ng-click="StopTimer()" />
</div>
<div>
	
</div> -->