
<!-- Old version of page -->
<!-- <div class="text-center">  -->
<h2 class="text-center">Drinkin'?</h2>
<div class="row">
	<div class="col col-sm-3">
		<!-- <p>Hello, {{ username }}</p> -->
		<button class="btn btn-orange" ng-click="startTracker()" ng-hide="trackerOn">Start Tracking!</button>
		<button ng-show="trackerOn" class="btn btn-teal" ng-click="reset()">Reset</button>
		</br><span ng-show="trackerOn">Start Time:</br> {{ displayStart }}</span>
	</div>	

	<ul ng-show="trackerOn">
		<div class="col col-sm-3">
		
			<li>Wine<a ng-click="addWine()" class="drinks"><img class="img-responsive wine" src="app/css/images/wine.png"></img></a></li>{{ winecounter }}
		</div>
		<div class="col col-sm-3">
			<li>Beer<a ng-click="addBeer()" class="drinks"><img class="img-responsive beer" src="app/css/images/beer.png"></img></a></li>{{ beercounter }}
		</div>
		<div class="col col-sm-3">
			<li>Cocktail<a ng-click="addCocktail()" class="drinks"><img class="img-responsive cocktail" src="app/css/images/cocktail.png"></img></a></li> {{ cocktailcounter}}
		</div>
	</ul>
</div>	
	
<div>Total Drinks: {{ beercounter + winecounter + cocktailcounter }}</div>

	<button ng-click="calcNewBac()" class="btn btn-pink" ng-show="trackerOn">Calculate Current BAC</button>
	<div ng-show="showBAC">Current BAC is: {{ bacTracking }} </div>
	

	
