body {
	background: #000000;
	font-family: Capriola;
	color: white;
}
h3 {
	font-family: Montserrat;
	font-weight: bold;
}
legend {
	color: white;
}
p {
	font-size: 16px;
}
.headline {
	display: inline-block;
	margin: 1em;
}
.btn-home {
	height: 8em;
	display: inline-block;
	margin-bottom: 1em;
	margin-top: 1em;
	/*padding: 1em;*/
	width: 14em;
}
.btn-track {
	height: 5em;
	display: inline-block;
	margin-top: 1em;
	width: 10em;

}
.showDrinks {
	font-size: 1.7em;
	margin: 1em;
	color: #AEEE00;
}
.drinks {
	padding: 1em;
	margin-top: 1em;
}
.navbar-default .navbar-nav>li>a {
	color: white;
}
.beergif {
	width: 360px;
}
.showimage {
	width: 400px;
}

li {
	cursor: pointer;
	list-style-type: none;
}
.btn {
	cursor: pointer;
}	
.navbar {
	font-family: Montserrat;
	background: transparent;
	color: white;
}
.btn-green {
	background: #AEEE00;
	color: white;
}
.btn-teal {
	background: #01B0F0;
	color: white;
}
.btn-pink {
	background: #FF358B;
	color: white;
}
.btn-orange {
	background: #F7773E;
}
.cocktail {
	background: #FF358B;
	color: black;
}
.drinkcounters {
	font-size: 16px;
}
.beer {
	background: #AEEE00;
	color: black;
}
.wine {
	background: #01B0F0;
	color: black;
}
.error {
	margin-bottom: 2em;
}
